.header {
  height: 100%;
  font-size: 1rem;
  font-weight: bold;
  justify-content: space-evenly;
}

.header-bigGap {
  gap: 2rem;
}

.header-smallGap {
  gap: 0.5rem;
}

.header-search {
  align-items: flex-end;
  padding: 0.8vw;
  border-radius: 0.5vw;
  background-color: rgba(0, 0, 0, 0.05);
}

.header-input {
  width: 11vw;
  line-height: 1.5rem;
}

.header-image {
  width: 2rem;
}

.header-title {
  font-size: 1.5rem;
}
